<div style="height:290px;overflow: auto;" v-infinite-scroll="test">
    <div v-for="item in items" :key="item.text" class="tool">
        <el-link :underline="false" @click="get_new_window(item.path)" style="font-size:16px;color:blue">
            <svg-icon :icon-class="item.icon" class="icon"></svg-icon>
            {{item.text }}
        </el-link>
        <!-- <router-link 
    to="/testflow/testreport"
      >{{item.text}}</router-link>-->
        <p class="describe">{{item.describe }}</p>
    </div>
</div>